
a:hover,
a:active,
a:focus {
    color: #d80018;
}
.theme-color, .primary-navbar > li > a:hover, .primary-navbar > li > a:focus, .primary-navbar > li > a:focus, .testimonials-links .slider-btn:hover,
.testimonials-links .slider-btn:focus, .pricing-wrap:hover .theme-btn-2, .navigation .dropdown-menu li a:hover, .navigation .dropdown-menu li a:focus, 
.pricing-wrap:focus .theme-btn-2, .event-faqs-tabs li a:hover, .event-faqs-tabs li a:focus, .event-faqs-tabs li.active > a, .slider_button:hover,
.slider_button:focus, .event-faqs-tabs li.active > a:hover, .event-faqs-tabs li.active > a:focus, .contact-form .theme-btn,.footer-social a:hover, 
.footer-social a:focus, .breadcrumb-menubar > li > a:hover, .breadcrumb-menubar > li > a:focus, .widget-wrap ul li.active a, 
.comment-form input[type="submit"]:hover, .comment-form input[type="submit"]:focus, .blog-pagination li a, .pricing-wrap.featured:hover::before, 
.pricing-wrap.featured:focus::before, .blog-post-wrap .post-title:hover, .blog-post-wrap .post-title:focus{
    color: #d80018; 
}
.object, .theme-btn, .theme-btn-big, .theme-color-bg, .schedule-tabs li.active a,.schedule-tabs li a:hover,.schedule-tabs li a:focus,.schedule-tabs > li.active > a,
.schedule-tabs > li.active > a:hover, .schedule-tabs > li.active > a:focus, .social-overlay li a:hover, .social-overlay li a:focus,.pricing-wrap:hover,
.pricing-wrap:focus, .register-bg,.contact-form .theme-btn:hover,.contact-form .theme-btn:focus, .to-top,.comment-form input[type="submit"],
.blog-pagination > .active > a,.blog-pagination > .active > a:hover, .blog-pagination > .active > a:focus, .blog-pagination > li > a:hover, .blog-pagination > li > a:focus{
    background-color: #d80018;
}
.theme-btn:hover,.theme-btn:focus, .theme-btn-big:hover,.theme-btn-big:focus,
.donation-wrap .theme-btn:hover,.donation-wrap .theme-btn:focus{
    border-color: #d80018;
    color: #d80018;
    background-color: #fff;
}
.title-devider .line-1 ,.title-devider .line-2, .title-devider .line-3, .testimonials-links .slider-btn:hover,.testimonials-links .slider-btn:focus,
.slider_button:hover, .slider_button:focus, .tagcloud > a:hover, .tagcloud > a:focus,.post-previous a:hover, .post-next a:hover,.post-previous a:focus,
.post-next a:focus, .comment-form input[type="submit"], .comment-form input[type="submit"]:hover,.comment-form input[type="submit"]:focus,
.blog-pagination li a, .blog-pagination .active a,.blog-pagination > .active > a:hover, .blog-pagination > .active > a:focus, .blog-pagination > li > a:hover, 
.blog-pagination > li > a:focus{
    border-color: #d80018;
}
.register-bg{
	background-color:#e21f1f;
}
.morph-button-2 {
	border:1px solid #e21f1f;
	border-color:white;
}
.morph-button-2 button{
	background-color:#e21f1f;
	color: white;
	border:1px;
	border-color:white;
}
.morph-button-2 button:hover,.morph-button-2 button:focus{
	background-color:#d80018;
	color: white;
	
}
.navbar-nav>li>a{
	padding-top:25px;
	padding-bottom:25px;
}
@media (max-width:767px){
	.navbar-nav>li>a{
	padding-top:10px;
	padding-bottom:10px;
}
.navbar-toggle{
	padding:15px;
}
.carousel-inner .item img{
	height:100%;
}
}
.form1 .center .row input::placeholder{
	color:white;	
}
.morph-content .content-style-overlay input::placeholder {
  color: #e5dada;
}
.morph-content .content-style-overlay h3{
	padding-top:50px;
}
.morph-content .content-style-overlay hr{
	padding-bottom:20px;
	max-width:200px;
}

.morph-content .nomineeform{
	padding-top:35px;
}
.checkbox{
	text-align:left;
}
@media screen and (max-width: 770px) {
	.content-style-overlay label {
		font-size: 75%;
	}

	.content-style-overlay .icon-close {
		top: 5px;
		right: 5px;
	}
}
@media screen and (min-width: 770px) {
		.carousel-inner>.item>img, .carousel-inner>.item>a>img{
		width:130%;
		height:100%
	}
}
@media screen and (max-width: 330px) {
		#home{
		width:110%;
		
	}
}